# History files
.Rhistory
# Example code in package build process
*-Ex.R
# Rstudio stuff Winedt and other stuff
.Rproj.user
.Rhistory
*.RData
.Rbuildignore
*.Rproj
.gitattributes
.gitignore
*.prj
#
# backups
#
*.bak
.gitignore-bak
#
# roxygened files
#
NAMESPACE
# maybe include that later again
*.Rd
!scholtzia.Rd
!intensities.Rd
#!*-package.Rd
#!*.object.Rd
#
# all figures, testkram und anderes
#
inst/*.*
inst/*
inst
allfigures/*.*
allfigures/*
!allfigures/*.R
testR/*.*
paper/*.*
Changelog
Rplots.pdf
inst.tmp
oldcode/*.*
#
# documentation aux files
#
inst/*
!inst/*.Rnw
!inst/doc/*
#
# texfiles
#
*.aux
*.bak
*.synctex*
*.bbl
*.log
*.blg
Sweave.sty
*.tex
#
# compiled stuff
#
*.o
*.dll
